:root {
    --color-primary: #1c1f4d;
    --color-primary-opacity: rgba(28, 31, 77, 0.8);
    --color-secondary: #faf741;
    --color-accent: #f74bfa;
}

html {
    font-size: 24px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2, h3 {
    margin: 5px 0;
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-accent);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary);
    background-image: url(../images/website/Eye.png);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-secondary);
    font-family: monospace;
}

.warning {
    color: var(--color-accent);
}

header {
    margin: 0 auto 10px auto;
    width: 80vw;
    padding: 25px;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.title {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#menu-button {
    height: 96px;
    width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid var(--color-secondary);
}

#menu-button:hover {
    color: var(--color-accent);
    border: 4px solid var(--color-accent);

    a {
        color: var(--color-accent);
    }
}

.menu {
    width: 80%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 25px;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.menu h2 {
    flex: 1;
    text-align: center;
    font-weight: unset;
    font-size: 1rem;
}

.menu h2:hover {
    color: var(--color-accent);
}

.dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.member-gallery {
    width: 80vw;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.member-card {
    width: 128px;
    height: 128px;
    border: 4px solid var(--color-secondary);
}

.member-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.favorite {
    border-color: var(--color-accent);
}

.index-text, .favorite-list {
    width: 80vw;
    margin: 10px auto;
    padding: 25px;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.index-text h2, .favorite-list h2 {
    text-align: center;
    font-weight: bold;
}

.favorite-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.user-info {
    width: 80vw;
    height: 25vh;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.user-info-image-container {
    height: 25vh;
    width: 25vh;
    background-color: black;
}
.user-info-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.user-info-sections {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.user-info-subsection {
    flex: 1;
    padding: 10px;
}

div .user-info-subsection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-title {
    flex: 1;
}

.member-main {
    width: calc(80vw + 57px);
    padding: 25px 0;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.member-information {
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.member-body-reference-container {
    width: 100%;
    aspect-ratio: 3 / 4;
    background-color: #000000;
}

.member-body-reference-container img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center;
}

.member-posts {
    padding: 25px;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.post {
    border-bottom: 1px solid var(--color-secondary);
}

.post-image {
    width: 512px;
    height: 512px;
    background-color: #000000;
}

.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.character-selection, .food-selection, .food-order-list, .order-information {
    width: 80vw;
    margin: 10px auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: var(--color-primary-opacity);
    border: 4px solid var(--color-secondary);
}

.order-details {
    flex-direction: column;
}

.food-order-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.food-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical alignment */
    margin-bottom: 10px;
}

.food-name {
    flex: 3;
    text-align: left;
    line-height: 1.5; /* Ensures consistent vertical alignment */
}

.food-counter {
    flex: 1;
    text-align: right;
    width: 100px; /* Set a fixed width */
    height: 30px; /* Set a fixed height */
    line-height: 1.5; /* Matches the line height of the name */
}

.food-increase, .food-decrease {
    margin-left: 5px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.disabled {
    display: none;
}

@media (max-width: 800px) {
    .member-gallery,
    .index-text,
    .favorite-list,
    .user-info,
    .character-selection,
    .food-selection,
    .food-order-list,
    .order-information {
        width: 90vw;
    }

    header {
        flex-direction: column;
    }

    #menu-button {
        order: 1;
        margin: 10px auto 0 auto; /* Center the button below the title */
    }

    .title {
        order: 0;
    }
}